@import 'colors';

nav{
    background-color: aqua;
    padding: 10px;
    ul{
        background-color: antiquewhite;
        border-radius: $border-radius;
        li{
            background-color: aquamarine;
            border-radius: $border-radius;
            margin: 10px;
            a{
                text-decoration: none;
                &:hover{
                    background-color: blueviolet;
                    color: #fff;
                }
            }
        }
    }
}